.contenedor-bloques {
display: flex;
flex-direction: column; /* Apilados verticalmente */
gap: 16px;
padding: 16px;
}
.bloque1 {
background-color: #f1ea84;
border-radius: 8px;
padding: 20px;
border: 1px solid #000000;
}

.bloque2 {
background-color: #90c752;
border-radius: 8px;
padding: 20px;
border: 1px solid #d0d7de;
}

.bloque3 {
background-color: #48879b;
border-radius: 8px;
padding: 20px;
border: 1px solid #d0d7de;
}

.bloque4 {
background-color: #514baa;
border-radius: 8px;
padding: 20px;
border: 1px solid #d0d7de;
}

/* 2. TABLET: Pantallas de 768px o más */
@media (min-width: 768px) {
.contenedor-tarjetas {
flex-direction: row; /* Pasan a fila */
flex-wrap: wrap; /* Permite saltos de línea */
}
.tarjeta {
/* 2 columnas: cada tarjeta ocupa la mitad menos el espacio del gap */
flex: 1 1 calc(50% - 16px);
}
}
/* 3. DESKTOP: Pantallas de 1024px o más */
@media (min-width: 1024px) {
.tarjeta {
/* 3 columnas: las tres se distribuyen equitativamente en una fila */
flex: 1 1 calc(33.333% - 16px);
}
}